<div class="container container-login">
  <h1>Kirjaudu sisään</h1>
  <%= form_for(:user, url: sessions_path) do |form| %>
    <div class="form-group col-xs-offset-2 col-xs-8">
      <%= form.email_field :email, class: "form-control", placeholder: "Sähköposti" %>
    </div>
    <br>
    <div class="form-group col-xs-offset-2 col-xs-8">
      <%= form.password_field :password, class: "form-control", placeholder: "Salasana" %>
    </div>
    <br>
    <div class="form-group col-xs-12">
      <%= form.submit "Kirjaudu Sisään", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
