<div class="container container-center">
  <% if logged_in? && current_user.is_admin %>
    <!-- load javascript for changing seats status -->
    <%= javascript_include_tag 'update_status.js' %>
  <% end %>
  <%= render partial: "seats_table" %>
</div>
