<h1>Paikat</h1>

<table>
  <thead>
    <tr>
      <th>Riivi</th>
      <th>Paikka</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.row %></td>
        <td><%= seat.number %></td>
        <td><%= seat.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
