<h1>Paikat</h1>

<% @seats_arr.each do |row| %>
  <% row.each do |seat| %>
    <% if seat.status == 'available' %>
      <%= image_tag("free.png") %>
    <% else %>
      <%= image_tag("reserved.png") %>
    <% end %>
    <%= seat.number %>
  <% end %>
  <br>  
<% end %>
