<!DOCTYPE html>
<html>
<head>
  <title>Sudarushka Liput</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Kotisivu</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kirjaudu sisään</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/sessions" class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="user_email">Sähköposti</label>
              <input type="email" id="user_email" name="user[email]" class="form-control input-sm" placeholder="sähköposti">
            </div>
            <div class="form-group">
              <label class="sr-only" for="user_password">Salasana</label>
              <input type="password" id="user_password" name="user[password]" class="form-control input-sm" placeholder="salasana">
            </div>
            <div class="form-group actions">
              <button type="submit" class="btn btn-info btn-sm">Kirjaudu sisään</button>
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Peruuttaa</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
