// Place all the styles related to the Seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seat-img { 
   position: relative;
   display: inline;
   width: 100%;
   text-align: center;

  span { 
   position: absolute;
   display: inline-block;
   white-space: nowrap;
   font-weight: bold;
   margin-top: 12px;
   left: -2px; 
   width: 100%; 
   color: Indigo;
  }
}
