// Place all the styles related to the Seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-center * {
  text-align: center;

  .table-cell {
    vertical-align: middle;
  }
  
  h3 {
    margin-top: 10px;
  }
  
  div.seat-img { 
    position: relative;
    display: inline-block;
    z-index: 10;
    align-items: center;

    img {
      display: inline-block;
      width: auto;
      height: 40px;
      z-index: -1;
      position: relative;
    }

    span {
      position: absolute;
      width: 25px;
      margin-top: 15px;
      z-index: 1;
      text-align: center;
      color: white;
      font-weight: bold;
    }
  }

  div.not-loggedin { 
    position: relative;
    display: inline-block;
    z-index: 10;
    align-items: center;

    img {
      display: inline-block;
      width: auto;
      height: 40px;
      z-index: -1;
      position: relative;
    }

    span {
      position: absolute;
      width: 25px;
      margin-top: 15px;
      z-index: 1;
      text-align: center;
      color: white;
      font-weight: bold;
    }
  }

  div.separator {
    display: inline-block;
    width: 325px;
  }

  div.separator-sm {
    display: inline-block;
    width: 30px;
  }
}

